<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to('Your Listings', root_path, method: :get) %></li>
  <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
</ul>

<nav>
  <div class="nav-wrapper light-blue darken-4">
    <a href="/listings/list" class="brand-logo "><div class="logo-bear">Bear</div><div class="logo-park">Park</div></a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <!-- <li><%= link_to('New Listing', listings_new_path, method: :get) %></li> -->
        <!-- <li><a class="modal-trigger btn light-blue" href="#modal1">New Listing</a></li> -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= @user.email if @user.email %><i class="material-icons right">arrow_drop_down</i></a></li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path)  %></li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="listing-container">
  <h3 id="title-all_listings">All Listings</h3>
  <div class="row">
        <% @listings.each do |listing| %>
          <div class="row">
            <div class="col s6 m12">
              <div class="card white">
                <div class="card-content black-text">
                 <span class="card-title"><%= listing.address %></span>
                 <p>Price: $<%= listing.price %></p>
                 <p>Contact: <%= listing.user.email %></p>
                 <p>Category: <%= listing.topic %></p>
                 <p>Description: <%= listing.description %></p>
               </div>
               <div class="card-reveal">
                 
               </div>
               <div class="card-action">
                 <a href="#">Favorite</a>
                 <%= link_to "Details", listing_path(listing) %>
                 <%= button_to "💖", favorite_path(id: listing), :class => "button medium", :method => :patch %>Favorites: <%= listing.num_favorites %>
               </div>
            </div>          
          </div>
        </div>
      <% end %>
      
  </div>
</div>
<div id="map"></div>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function() {
    markers = handler.addMarkers([
    <% @listings.each do |listing| %>
      <% if (listing.latitude != nil) then %>
        {
          "lat": <%= listing.latitude %>,
          "lng": <%= listing.longitude %>,
          "picture": {
            "url": "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "<%= listing.address %>"
        },
      <% end %>
    <% end %>
  ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>    
