<h2>Welcome to BEAR PARKING!</h2>
<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <p>Logged in as: <%= @user.email if @user.email %></p>
  <h3>Your Listings:</h3>
  <%= link_to('Create new Listing', listings_new_path, method: :get) %>
  <p><% @user.listings.each do |listing| %></p>
    <p>Posted by: <%= listing.user.email %></p>
    <p>Topic: <%= listing.topic %></p>
    <p>Price: <%= listing.price %></p>
    <p>Description: <%= listing.description %></p>
    <p>-----------------------</p>
  <% end %>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>
<% end %>
